.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 15px 0 15px;
}

.width-100 {
	width: 100%;
}

.details-img {
	height: 250px;
}

.details-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.details-img img {
	height: 100%;
}

.grey {
	color: #969696;
}