.section-button {
	width: 100%;
	max-width: 750px;
	margin-bottom: 40px;
}

.section-button img {
	width: 100%;
}

.section-button h2, .section-button p {
	padding: 0 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}